<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Modal search
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p>The modal search is a component to search wherever you are on the page.</p>
      <p>You can open it via <b>cmd+k</b> (on mac) or <b>ctrl+e</b>. You can also open it via the search button on
        the top left corner. Then search any NgWiziBulma component to keyboardNavigate to it.
      </p>
      <p>You can give to the service an array of strings to search to and use you own filter method. See the demo
        app file</p>
    </div>

    <button class="button is-danger" *ngIf="modalSearchService.modalSearch.enabled" (click)="toggleEnabled()">Disable modal search</button>
    <button class="button is-info" *ngIf="!modalSearchService.modalSearch.enabled" (click)="toggleEnabled()">Enable modal search</button>
  </div>
</div>
