<!-- Tabs Basic -->
<div class="columns">
  <div class="column is-8">
    <div nwb-tabs
      [size]="'small'">
      <div nwb-tabs-item="Pictures">
        <p>Your Pictures are here!</p>
      </div>
      <div nwb-tabs-item="Music">
        <p>Your Music is here!</p>
      </div>
      <div nwb-tabs-item="Videos">
        <p>Your Videos are here!</p>
      </div>
      <div nwb-tabs-item="Documents">
        <p>Your Documents are here!</p>
      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Small</h1>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-8">
    <div nwb-tabs
      [size]="'large'">
      <div nwb-tabs-item="Pictures">
        <p>Your Pictures are here!</p>
      </div>
      <div nwb-tabs-item="Music">
        <p>Your Music is here!</p>
      </div>
      <div nwb-tabs-item="Videos">
        <p>Your Videos are here!</p>
      </div>
      <div nwb-tabs-item="Documents">
        <p>Your Documents are here!</p>
      </div>
    </div>
  </div>

  <div class="column is-4">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Large</h1>
      </div>
    </div>
  </div>
</div>


<!-- Tabs ICONS -->
<div class="columns">
  <div class="column is-8">
    <div nwb-tabs>
      <div nwb-tabs-item="Pictures"
        [icon]="'camera'">
        <p>Your Pictures are here!</p>
      </div>
      <div nwb-tabs-item="Music"
        [icon]="'music'">
        <p>Your Music is here!</p>
      </div>
      <div nwb-tabs-item="Videos"
        [icon]="'video-camera'">
        <p>Your Videos are here!</p>
      </div>
      <div nwb-tabs-item="Documents"
        [icon]="'file-o'">
        <p>Your Documents are here!</p>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Icons</h1>
      </div>
    </div>
  </div>
</div>

<!-- Tabs Alignment -->
<div class="columns">
  <div class="column is-8">
    <div nwb-tabs
      [alignment]="'centered'"
      [size]="'medium'">
      <div nwb-tabs-item="Pictures">
        <p>Your Pictures are here!</p>
      </div>
      <div nwb-tabs-item="Music">
        <p>Your Music is here!</p>
      </div>
      <div nwb-tabs-item="Videos">
        <p>Your Videos are here!</p>
      </div>
      <div nwb-tabs-item="Documents">
        <p>Your Documents are here!</p>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="columns is-centered">
      <div class="column is-half">
        <h1 class="title">Alignment</h1>
      </div>
    </div>
  </div>
</div>
