<!-- Tabs Basic -->
<div class="columns">
  <div class="column is-12">
    <h1 class="subtitle has-text-grey">Basic</h1>
    <nwb-tabs [(active)]="activeA">
      <div nwb-tabs-item="Pictures">
        <p>Your Pictures are here!</p>
        <button (click)="activeA='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Music">
        <p>Your Music is here!</p>
        <button (click)="activeA='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Videos">
        <p>Your Videos are here!</p>
        <button (click)="activeA='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Documents">
        <p>Your Documents are here!</p>
        <button (click)="activeA='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
    </nwb-tabs>
  </div>
</div>

<div class="columns">
  <div class="column is-12">
    <h1 class="subtitle has-text-grey">Small | Toggle</h1>
    <nwb-tabs [(active)]="activeB"
      [size]="'small'"
      [toggle]="true">
      <div nwb-tabs-item="Pictures">
        <p>Your Pictures are here!</p>
        <button (click)="activeB='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Music">
        <p>Your Music is here!</p>
        <button (click)="activeB='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Videos">
        <p>Your Videos are here!</p>
        <button (click)="activeB='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Documents">
        <p>Your Documents are here!</p>
        <button (click)="activeB='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
    </nwb-tabs>
  </div>
</div>

<div class="columns">
  <div class="column is-12">
    <h1 class="subtitle has-text-grey">Large | Rounded</h1>
    <nwb-tabs [(active)]="activeC"
      [size]="'large'"
      [rounded]="true">
      <div nwb-tabs-item="Pictures">
        <p>Your Pictures are here!</p>
        <button (click)="activeC='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Music">
        <p>Your Music is here!</p>
        <button (click)="activeC='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Videos">
        <p>Your Videos are here!</p>
        <button (click)="activeC='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Documents">
        <p>Your Documents are here!</p>
        <button (click)="activeC='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
    </nwb-tabs>
  </div>
</div>

<div class="columns">
  <div class="column is-12">
    <h1 class="subtitle has-text-grey">Fullwidth | Boxed</h1>
    <nwb-tabs [(active)]="activeD"
      [fullwidth]="true"
      [box]="true">
      <div nwb-tabs-item="Pictures">
        <p>Your Pictures are here!</p>
        <button (click)="activeD='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Music">
        <p>Your Music is here!</p>
        <button (click)="activeD='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Videos">
        <p>Your Videos are here!</p>
        <button (click)="activeD='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Documents">
        <p>Your Documents are here!</p>
        <button (click)="activeD='Pictures'"
          class="button is-warning">Reset</button>
      </div>
    </nwb-tabs>
  </div>
</div>

<div class="columns">
  <div class="column is-12">
    <h1 class="subtitle has-text-grey">Alignment</h1>
    <nwb-tabs [(active)]="activeE"
      [alignment]="'right'">
      <div nwb-tabs-item="Pictures">
        <p>Your Pictures are here!</p>
        <button (click)="activeE='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Music">
        <p>Your Music is here!</p>
        <button (click)="activeE='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Videos">
        <p>Your Videos are here!</p>
        <button (click)="activeE='Pictures'"
          class="button is-small is-warning">Reset</button>
      </div>
      <div nwb-tabs-item="Documents">
        <p>Your Documents are here!</p>
        <button (click)="activeE='Pictures'"
          class="button is-warning">Reset</button>
      </div>
    </nwb-tabs>
  </div>
</div>

<div class="columns">
  <div class="column is-12">
    <h1 class="subtitle has-text-grey">Icons</h1>
    <nwb-tabs>
      <div nwb-tabs-item="Pictures"
        [icon]="'fa fa-camera'">
        <p>Your Pictures are here!</p>
      </div>
      <div nwb-tabs-item="Music"
        [icon]="'fa fa-music'">
        <p>Your Music is here!</p>
      </div>
      <div nwb-tabs-item="Videos"
        [icon]="'fa fa-video-camera'">
        <p>Your Videos are here!</p>
      </div>
      <div nwb-tabs-item="Documents"
        [icon]="'fa fa-file-o'">
        <p>Your Documents are here!</p>
      </div>
    </nwb-tabs>
  </div>
</div>
