/* You can add global styles to this file, and also import other style files */

@import 'node_modules/bulma/bulma.sass';
@import 'node_modules/bulma-extensions/bulma-switch/src/sass/index';
@import 'node_modules/bulma-extensions/bulma-tooltip/src/sass/index';
@import 'node_modules/bulma-extensions/bulma-calendar/src/sass/index';

@import 'bulma-docs.css';

@import '../dist/@wizishop/ng-wizi-bulma/ng-wizi-bulma';

.textarea:not([rows]).textarea--exampleBulmaCalendar {
  min-height: 200px;
  cursor: default;
  resize: none;
}

.textarea:not([rows]).textarea--settingDefault {
  min-height: 470px;
  cursor: default;
  resize: none;
}

.textarea:not([rows]).textarea--settingClass {
  min-height: 800px;
  cursor: default;
  resize: none;
}

.textarea:not([rows]).textarea--settingComp {
  min-height: 150px;
  cursor: default;
  resize: none;
}

.textarea:not([rows]).textarea--formatDefault {
  min-height: 340px;
  cursor: default;
  resize: none;
}

.textarea:not([rows]).textarea--formatClass {
  min-height: 480px;
  cursor: default;
  resize: none;
}
.textarea:not([rows]).textarea--formatIntl {
  min-height: 280px;
  cursor: default;
  resize: none;
}

.textarea:not([rows]).textarea--formatIntl2 {
  min-height: 580px;
  cursor: default;
  resize: none;
}

.textarea:not([rows]).textarea--formatComp {
  min-height: 150px;
  cursor: default;
  resize: none;
}

.textarea:not([rows]).textarea--formatUse {
  min-height: 150px;
  cursor: default;
  resize: none;
}
