<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Dialog
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p>Simple Dialog with custom handler function on ok (yes) button</p>
      <button class="button is-primary" (click)="openDialog()">Open Dialog</button>
    </div>
  </div>
</div>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Dialog with component
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <button class="button" (click)="openDialogFromComponent()">Open Dialog From Component</button>
      <p *ngIf="fakeComponentValue.length">Your name is: <b>{{fakeComponentValue}}</b></p>
    </div>
  </div>
</div>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Dialog with component and spinner with backdrop disabled
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <button class="button" (click)="openDialogFromComponentWithSpinner()">Open Dialog From Component</button>
      <p *ngIf="fakeComponent2Value.length">Your name is: <b>{{fakeComponent2Value}}</b></p>
    </div>
  </div>
</div>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Dialog with template
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <button class="button" (click)="openDialogFromTemplate()">Open Dialog From Template</button>
    </div>


    <demo-add-user-dialog
      *ngIf="userId"
      [id]="userId"
      (userChange)="userChange($event)"
      (close)="userId = null"
    >

    </demo-add-user-dialog>

  </div>
</div>
